= has_admin_menu do
  = title t('.title')

  %table{ class: 'table table-striped' }
    %thead
      %tr
        %th= t('activerecord.attributes.page.title')
        %th

    %tbody
      - @pages.each do |page|
        %tr
          %td= page.title
          %td.centered
            .btn-group
              = edit_button [:edit, page]
