= simple_form_for(@category) do |f|
  = f.error_notification

  .form-inputs
    = f.input :name
    = f.input :position, hint: t('.position_hint'), input_html: { class: 'input-mini' }

  .form-actions
    = f.button :submit, class: 'btn-primary'
    = cancel_button
